# Core functionality - changes here should be rare!
/src/app.py                   @ktanino10
/src/backend/database.py      @ktanino10
/src/backend/routers/auth.py  @ktanino10

# The frontend will need refactored soon to be more object oriented.
/src/static/   @ktanino10
